body.login-page {
  background: -moz-linear-gradient(top, $eoBlue 0%, $lightBlue 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $eoBlue), color-stop(100%, $lightBlue));
  background: -webkit-linear-gradient(top, $eoBlue 0%, $lightBlue 100%);
  background: -o-linear-gradient(top, $eoBlue 0%, $lightBlue 100%);
  background: -ms-linear-gradient(top, $eoBlue 0%, $lightBlue 100%);
  background: linear-gradient(to bottom, $eoBlue 0%, $lightBlue 100%);
}